<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<h1 align="center">Show Employees</h1>
<br>
<div class="conatiner" *ngIf="employees">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Country</th>
                <th>DOJ</th>
                <th>EmailId</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName | gender:emp.gender | uppercase}}</td>
            <td> {{emp.salary | currency: 'USD'}} </td>
            <td>{{emp.gender | lowercase}}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.doj | date:'dd-MMM-yyyy'}}</td>
            <!-- <td>{{emp.doj | exp }} </td> -->
            <td>{{emp.emailId}}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="editEmp(emp)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm" (click)="deleteEmp(emp.empId)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
            </td>
            </tr>
        </tbody>
    </table>
</div>  

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editEmployee" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content -->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Employee Info </h4>
          </div>

          <div class="modal-body">
            <table align="center">
                <tr>
                    <td align="right">EmployeeID</td>
                    <td align="left"><input type="number" name="empId" [(ngModel)]="empObj.empId" readonly /> </td>
                </tr>
            
                <tr>
                    <td align="right">Employee Name</td>
                    <td align="left"><input type="text" name="empName" [(ngModel)]="empObj.empName" /> </td>
                </tr>
            
                <tr>
                    <td align="right">Salary</td>
                    <td align="left"><input type="text" name="salary" [(ngModel)]="empObj.salary" /> </td>
                </tr>
            
                <tr>
                    <td align="right">Gender</td>
                    <td align="left">
                        <select name="gender" [(ngModel)]="empObj.gender">
                            <option value=""> Select Gender </option>
                            <option value="Male"> Male </option>
                            <option value="Female"> Female </option>
                            <option value="Other"> Other </option>
                        </select>
                    </td>
                </tr>
            
                <tr>
                    <td align="right">Country</td>
                    <td align="left">
                        <select name="country" [(ngModel)]="empObj.country">
                            <option value=""> Select Country </option>
            
                            <option *ngFor="let country of countries"  value="{{country.alpha3Code}}" > {{country.name}} </option>

            
                        </select>
                    </td>
                </tr>
            
                <tr>
                    <td align="right">Date of Join</td>
                    <td align="left"><input type="date" name="doj" [(ngModel)]="empObj.doj" /> </td>
                </tr>
            
                <tr>
                    <td align="right">Email-ID</td>
                    <td align="left"><input type="text" name="emailId" [(ngModel)]="empObj.emailId" /> </td>
                </tr>
            
                <tr>
                    <td align="right">Password</td>
                    <td align="left"><input type="password" name="password" [(ngModel)]="empObj.password" readonly /> </td>
                </tr>
            
                <tr>
                    <td align="right">Department</td>
                    <td align="left">
                        <select name="department" [(ngModel)]="empObj.department.deptId">
                            <option value=""> Select Department </option>
            
                            <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>
            
                        </select>
                    </td>
                </tr>
            
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updateEmp()" data-dismiss="modal"> Update Employee </button>
          </div>

        </div>
        
      </div>
    </div>
    
   </div>  
  