<h1 align="center">Show Employees</h1>
<br>
<div class="conatiner">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Country</th>
                <th>DOJ</th>
                <th>Experience</th>
                <th>EmailId</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employee">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName | gender:emp.gender | uppercase}}</td>
            <td> {{emp.salary | currency: 'USD'}} </td>
            <td>{{emp.gender | lowercase}}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.doj | date:'dd-MMM-yyyy'}}</td>
            <td>{{emp.doj | exp}}</td>
            <td>{{emp.emailId}}</td>
            <td>{{emp.password}}</td>
            </tr>
        </tbody>
    </table>
</div>