<head>
	<title>Employee Registration Form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- Bootstrap Glyphicon icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="width:300px">
        <div >
		<h1>Employee Registration Form</h1>
		<form #regFrom="ngForm" (ngSubmit)="employeeRegistration(regFrom.value)">
			<div class="form-group">
				<label for="empid" class="sr-only">Employee ID:</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input type="number" class="form-control" name="empId" ngModel placeholder="Employee ID" >
				</div>
			</div>
			<div class="form-group">
				<label for="empname" class="sr-only">Employee Name:</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" class="form-control" name="empName" ngModel placeholder="Employee Name" >
				</div>
			</div>
			<div class="form-group">
				<label for="salary" class="sr-only">Salary:</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
					<input type="number" class="form-control" name="salary" ngModel placeholder="Salary">
				</div>
			</div>

			<div class="form-group">
				<label for="gender" class="sr-only">Gender:</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-heart"></span></span>
					<select class="form-control" name="gender" ngModel>
						<option value="">Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Other">Other</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="country" class="sr-only">Country:</label>
				<div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
				  <select class="form-control" name="country" ngModel >
					<option value=""> Select Country </option>
                
                	<option *ngFor="let country of countries"  value="{{country.alpha3Code}}" > {{country.name}} </option>

				  </select>
				</div>
			  </div>
			  
			<div class="form-group">
				<label for="doj" class="sr-only">Date of Joining:</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					<input type="date" class="form-control" name="doj" placeholder="Date of Joining" ngModel>
				</div>
			</div>
            <!-- <div class="form-group">
                <label for="experience" class="sr-only">Experience:</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                    <input type="number" class="form-control" id="experience" placeholder="Experience" required>
                </div>
            </div> -->
            <div class="form-group">
                <label for="emailid" class="sr-only">Email ID:</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="text" class="form-control" name="emailId" ngModel placeholder="Email ID">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="sr-only">Password:</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" name="password" ngModel placeholder="Password">
                </div>
            </div>

			<div class="form-group">
				<div class="form-group">
					<label for="department" class="sr-only">Department:</label>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
						<select name="department" name="deptId" class="form-control" ngModel>
							<option value="">Select Department</option>
							<option value="{{department.deptId}}" *ngFor="let department of departments">{{department.deptName}}</option>
						</select>
					</div>
				</div>
				
			</div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>